@import components/bootstrap.min
@import helpers/vars
@import helpers/mixins
  
@import  components/header
@import  components/footer

li
    list-style: none

a
    text-decoration: none  

body
    background-color: #f5f8fa
figure.first-card
    padding: 30px 20px
    max-width: 270px
    text-align: center
    transition: .3s
    img
        margin-bottom: 25px
    h2
        font-size: 18px
        color: #333
        font-weight: 400
        font-family: "Rubik"
        text-align: center
    a
        font-size: 24px
        color: #0099ff
        font-weight: 400
        font-family: "Rubik"
        text-align: center
    p
        font-size: 13px
        line-height: 19px
        color: #999
        font-weight: 400
        font-family: "Rubik"
    &:hover
        background-color: #fff
        box-shadow: 0px 4px 10.5px rgba(3,20,31,0.05)

.more
    h2
        margin-bottom: 30px
        font-size: 36px
        letter-spacing: 1px
        line-height: 40px
        text-transform: uppercase
        color: #333
        font-weight: 400
        font-family: "Rubik"
    p
        margin-bottom: 50px
        font-size: 16px
        line-height: 22px
        color: #555
        font-weight: 400
        font-style: italic
        font-family: "Rubik"
    .comment
        margin-bottom: 0
        font-size: 13px
        line-height: 19px
        color: #bbbbbb
        font-weight: 400
        font-family: "Rubik"
    .for-button
        margin-bottom: 30px

.see-more
    min-width: 190px
    margin-bottom: 80px
    border-bottom: 1px #dfe3e6 solid
    text-align: center
    a
        position: relative
        display: inline-block
        margin-bottom: 75px
        min-width: 190px
        font-size: 12px
        letter-spacing: 0px
        text-transform: uppercase
        color: #0099ff
        font-weight: 400
        font-family: "Rubik"
        text-align: center
        transition: .3s
        &:hover
            font-size: 15px
        &:hover::before
            left: 90%
            height: 15px
            width: 15px
        &:hover::after
            left: calc(90% + 11px)
            top: 6px
            width: 7px
            height: 7px
        &::before
            content: ""
            position: absolute
            width: 12px
            height: 12px
            transform: translateX(50%)
            left: 85%
            top: 2px
            border: 1px #1ca4fe solid
            border-radius: 50%
            transition: .3s
        &::after
            content: ""
            position: absolute
            width: 5px
            height: 5px
            transform: rotate(130deg)
            left: calc(85% + 9px)
            top: 5.5px
            border-left: 1px #1ca4fe solid
            border-top: 1px #1ca4fe solid
            transition: .3s

.big-figure
    margin-bottom: 80px
    img
        height: 265px
        width: 370px

.information 
    h2
        margin-bottom: 30px
        font-size: 32px
        text-transform: uppercase
        color: #333
        font-weight: 400
        font-family: "Rubik"
.description
    p
        margin-bottom: 35px
        font-size: 13px
        color: #333
        font-weight: 400
        font-style: italic
        font-family: "Rubik"
.price-card
    padding: 30px 55px
    text-align: center
    background-color: #edf2f5
    a
        margin-bottom: 15px
        font-size: 24px
        color: #0099ff
        font-weight: 400
        font-family: "Rubik"
        text-align: center
    p
        margin: 0
        font-size: 13px
        color: #999
        font-weight: 400
        font-family: "Rubik"
        text-align: center

.quote
    margin-bottom: 80px
    padding: 25px 0
    +media(1240)
        padding: 50px 0
    +media(1440)
        padding: 100px 0
    background: linear-gradient(-180deg, rgba(#142f3f, 0.251) 0%, #142f3f 100%), url("../img/wave.jpg") 0/cover

    h3,h4
        font-size: 56px
        letter-spacing: 2px
        line-height: 66px
        text-transform: uppercase
        color: #fff
        font-weight: 400
        font-family: "Rubik"
    h4
        margin-bottom: 30px
        color: #0099ff
    .par
        margin-bottom: 30px
        font-size: 16px
        line-height: 24px
        color: #fff
        font-weight: 400
        font-family: "PT Sans"

.oleg
    position: relative
    text-align: center
    max-width: 570px
    max-height: 333px
    &::before
        content: ""
        position: absolute
        width: 35%
        height: 100%
        border: 4px #5d6970 solid
        border-right: none
        top: 15px
        left: 0
        opacity: 0.102
    &::after
        content: ""
        position: absolute
        width: 35%
        height: 100%
        border: 4px #5d6970 solid
        border-left: none
        top: 15px
        right: 0
        opacity: 0.102

    .svg
        width: 100%
        margin-bottom: 15px
    q
        display: inline-block
        margin-bottom: 15px
        width: 95%
        font-size: 16px
        line-height: 25px
        color: #fff
        font-weight: 400
        font-style: italic
        font-family: "Rubik"
    .author
        margin-bottom: 7px
        font-size: 18px
        color: #fff
        font-weight: 400
        font-family: "Rubik"
        text-align: center

    .customer
        margin: 0
        font-size: 14px
        color: #999
        font-weight: 400
        font-family: "Rubik"
        text-align: center
    .man
        position: absolute
        border-radius: 50%
        bottom: -50px
        left: 50%
        transform: translateX(-50%)

.name-of-article
    h2
        margin-bottom: 15px
        font-size: 36px
        text-transform: uppercase
        color: #333
        font-weight: 400
        font-family: "Rubik"
        text-align: center
    >p
        margin-bottom: 40px
        font-size: 16px
        line-height: 24px
        color: #333
        font-weight: 400
        font-style: italic
        font-family: "Rubik"
        text-align: center

.second-figure
    transition: .3s
    &:hover
        background-color: #fff
        box-shadow: 0px 4px 10.5px rgba(3,20,31,0.05)
    >p
        font-size: 13px
        line-height: 19px
        color: #999
        font-weight: 400
        font-family: "Rubik"

.card-img
    position: relative
    overflow: hidden
    margin-bottom: 25px
    border-radius: 0
    &::before
        content: ""
        position: absolute
        left: -60px
        top: -60px
        width: 120px
        height: 120px
        transform: rotate(45deg)
        background-color: #26cb15
    &::after 
        content: ""
        position: absolute
        background-image: url(../img/star-svgrepo-com.svg)
        left: 0
        top: 0
        width: 15px
        height: 15px
        z-index: 222
    img
        width: 100%

.about
    margin: auto
    max-width: 90%
.order 

    p
        margin: 0
        font-size: 24px
        color: #0099ff
        font-weight: 400
        font-family: "Rubik"
    a
        position: relative
        padding-right: 20px
        font-size: 13px
        letter-spacing: 1px
        text-transform: uppercase
        color: #ffb700
        font-weight: 400
        font-family: "Rubik"
        transition: .3s
        &:hover
            font-size: 15px
        &:hover::before
            height: 15px
            width: 15px
        &:hover::after
            width: 7px
            height: 7px
        &::before
            content: ""
            position: absolute
            width: 13px
            height: 13px
            transform: translateX(50%)
            left: 85%
            top: 2px
            border: 1px #ffb700 solid
            border-radius: 50%
            transition: .3s
        &::after
            content: ""
            position: absolute
            width: 5px
            height: 5px
            transform: rotate(130deg)
            left: calc(85% + 10px)
            top: 6px
            border-left: 1px #ffb700 solid
            border-top: 1px #ffb700 solid
            transition: .3s
.cards
    margin-bottom: 90px
.additional
    padding-top: 75px
    border-top: 1px #dfe3e6 solid
    h2
        font-size: 36px
        letter-spacing: 1px
        line-height: 40px
        text-transform: uppercase
        color: #333
        font-weight: 400
        font-family: "Rubik"
.questions
    position: relative
    padding: 0 40px
    text-align: center
    &::before
        content: ""
        position: absolute
        left: 0
        top: 0
        height: 90%
        width: 48px
        border-left: 4px #ffb700 solid
        border-top: 4px #ffb700 solid
        border-bottom: 4px #ffb700 solid
    &::after
        content: ""
        position: absolute
        right: 0
        top: 0
        height: 90%
        width: 48px
        border-right: 4px #ffb700 solid
        border-top: 4px #ffb700 solid
        border-bottom: 4px #ffb700 solid
        
    h4
        margin-bottom: 30px
        font-size: 18px
        letter-spacing: 1px
        color: #333
        font-weight: 400
        font-family: "Rubik"
        text-align: center
    p
        margin: auto
        max-width: 60%
        font-size: 13px
        color: #999
        font-weight: 400
        font-family: "Rubik"
        text-align: center
        margin-bottom: 30px
    a
        display: inline-block
        margin-bottom: 30px
        font-size: 18px
        color: #0099ff
        font-weight: 400
        font-family: "Rubik"
        text-align: center
    .name
        margin-bottom: 10px
        font-size: 18px
        color: #333
        font-weight: 400
        font-family: "Rubik"
        text-align: center
    .place
        margin-bottom: 15px
    .person
        border-radius: 50%

.third-card
    max-width: 270px
    padding: 30px 20px
    background: linear-gradient(-180deg, rgba(20, 47, 63, 0.4) 0%,rgba(20, 47, 63, 0.4) 100%), url("../img/figurebg1.jpg") 0/cover
    >p
        margin-bottom: 45px
        width: 190px
        height: 82px
        font-size: 13px
        line-height: 19px
        color: #fff
        font-weight: 400
        font-family: "Rubik"
    .figure-button
        display: inline-block
        padding: 5px 15px
        border: 2px #ffb700 solid
        border-radius: 16px
        transition: .3s
        &:hover
            background-color: #ffb700
        &:hover a.button
                color: #fff
        &:hover .cloud
            fill: #fff
        a.button
            display: inline-block
            margin-left: 3px
            font-size: 12px
            letter-spacing: 0px
            text-transform: uppercase
            color: #ffb700
            font-weight: 400
            font-family: "Rubik"
            text-align: center
.cloud
    height: 16px
    width: 16px

.file-info 
    margin-bottom: 20px
    color: #fff
    a
        display: inline-block
        margin-bottom: 15px
        font-size: 18px
        font-weight: 400
    p
        font-size: 13px
        color: #bbbbbb
        font-weight: 400
        font-family: "Rubik"
    
.svgfile
    display: inline-block
    height: 60px
    width: 50px

