header.background
    nav.container.navbar.navbar-expand-lg.navig
        .container-fluid.d-flex.align-items-center
            .navbar-brand.navig-item.d-flex.align-items-center
                +logotipe
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon.burger#burger
            #navbarNav.collapse.navbar-collapse.flex-grow-0
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.navig-item(aria-current='page' href='#') Гoловна
                    li.nav-item
                        a.nav-link.navig-item(href='#') послуги
                    li.nav-item
                        a.nav-link.navig-item(href='#') про компанію 
                    li.nav-item
                        a.nav-link.navig-item(href='#') Акції
                    li.nav-item
                        a.nav-link.navig-item(href='#') Партнери
                    li.nav-item
                        a.nav-link.navig-item(href='#') відгуки
                    li.nav-item
                        a.nav-link.navig-item(href='#') Контакти

    .container.m-auto.text-center.col-8.header-info.align-items-center
        h1.main Морські пригоди
        p.paragraph Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
        +main-button  
    .container.m-auto.text-center.col-8.go-to.align-items-center
        h2 обери свій план подорожі
        p Наша фірма -лідер на ринку у своїй сфері
        a(href="#scrollto") 
            span.arrow1
            span.arrow2
