.footer-img
    height: 429px
    background: url("../img/footer.png")
    background-size: 100% 100%
.coperate
    padding: 15px 0
    background-color: #000
.coperate__text
    font-size: 13px
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    text-align: center