.background
    height: 937px
    background: url("../img/bgsea.png")
    background-size: 100% 100%

.logo-img
    height: 40px

.navig
    max-width: 100%
    margin-bottom: 75px
    +media(1024)
        margin-bottom: 150px
    li
        font-size: 14px
        letter-spacing: 1px
        text-transform: uppercase
        font-weight: 400
        text-align: right
        &:hover a
            color: #ffb700
    .navig-item
        color: $lightColor
.burger
    position: relative
    background-color: $lightColor
    width: 35px
    height: 7px
    border-radius: 2px
    transition: .3s
    border: none
    &::before
        content: ""
        position: absolute
        top: -12px
        left: 0
        height: 7px
        width: 35px
        background-color: $lightColor
        border-radius: 2px
    &::after
        content: ""
        position: absolute
        bottom: -12px
        left: 0
        height: 7px
        width: 35px
        background-color: $lightColor
        border-radius: 2px
.touched
    transform: rotate(90deg)
h1
    margin-bottom: 30px
    font-size: 42px
    +media(1024)
        font-size: 72px
    letter-spacing: 1px
    text-transform: uppercase
    color: $lightColor
    font-weight: 400

.paragraph
    margin: auto
    margin-bottom: 30px
    font-size: 16px
    max-width: 500px
    line-height: 24px
    color: $lightColor
    font-weight: 400
    font-style: italic

.header-info
    position: relative
    text-align: center
    &::before
        content: ""
        position: absolute
        top: -65px
        left: 50%
        transform: translateX(-50%)
        width: 40%
        min-width: 300px 
        height: 40px
        border-left: 4px $lightColor solid
        border-top: 4px $lightColor solid
        border-right: 4px $lightColor solid
        opacity: 0.200
        z-index: 0
    &::after
        content: ""
        position: absolute
        bottom: -65px
        left: 50%
        transform: translateX(-50%)
        width: 40%
        min-width: 300px 
        height: 95px
        border-left: 4px $lightColor solid
        border-bottom: 4px $lightColor solid
        border-right: 4px $lightColor solid
        opacity: 0.200
        z-index: 0
.go-to
    position: absolute
    bottom: 0
    left: 50%
    max-width: 320px
    transform: translate(-50%, 50%)
    +media(1024)
        transform: translate(-50%, 0%)
        padding-bottom: 50px
    +media(1240)
        transform: translate(-50%, 0%)
        padding-bottom: 50px
    padding-bottom: 25px
    +media(1440)
        transform: translate(-50%, -100%)
        padding-bottom: 50px
    h2
        font-size: 36px
        letter-spacing: 1px
        text-transform: uppercase
        color: #333
        font-weight: 400
        text-align: center
    p
        font-size: 16px
        line-height: 24px
        color: #333
        font-weight: 400
        font-style: italic
        text-align: center
    .arrow1,.arrow2
        position: absolute
        width: 20px
        height: 20px
        border-left: 3px #000 solid
        border-bottom: 3px #000 solid
        transform: rotate(-45deg)
    .arrow1
        bottom: 15px
        left: 50%
    .arrow2
        bottom: 25px
        left: 50%


        